nav {
  display: flex;
  align-items: center;
  /* direction: rtl; */
  padding: 12px 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  gap: 20px;
}

nav .buttons {
  display: flex;
  gap: 12px;
  order: 1; 
}

nav .links {
  display: flex;
  gap: 20px;
  margin: 0 auto; 
  order: 2;
  font-weight: 1000;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  color: #1e88e5;
}

nav button {
  background-color: #e3f2fd;
  border: none;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #1e88e5;
  color: white;
}

nav button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
